.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.heading {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 80vw;
  width: 100%;
}

.input {
  border: none;
  border-radius: var(--rounded);
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: var(--font-color);
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
}

.submit-btn {
  border-radius: var(--rounded);
  border: none;
  background-color: var(--button-background-color);
  color: var(--font-color);
  padding: 1rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.change-btn {
  color: var(--button-background-color);
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  text-decoration: none;
}

.message {
  margin: 0 auto;
}

.message span {
  font-size: 0.9rem;
}

.error-message {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 31.25rem;
  }

  .input {
    margin: 0.8rem 0;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3rem;
  }
}
