*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #000;
  --secondary-color: #c33764;
  --background-color: #010b02;
  --font-color: #fff;
  --secondary-font-color: #8e9196;
  --rounded: 0.8rem;
}

body {
  min-height: 100svh;
  max-width: 100vw;
  background: #c33764;
  background: -webkit-linear-gradient(to left, #1d2671, #c33764);
  background: linear-gradient(to left, #1d2671, #c33764);
  color: var(--font-color);
  position: relative;
  z-index: 0;
}

body::after {
  position: fixed;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
