.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.form-body {
  height: 100%;
  width: 100%;
  max-width: 26rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.close-btn {
  max-width: max-content;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--font-color);
  transition: color .2s;
}

.label {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  border-radius: var(--rounded);
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
}

.submit-btn {
  border-radius: var(--rounded);
  border: none;
  background-color: var(--font-color);
  color: var(--primary-color);
  padding: 1rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  transition: opacity .2s;
}

.submit-btn:hover {
  opacity: 0.7;
}

.open-modal-btn {
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 1.1rem;
  padding: 0.25rem;
  cursor: pointer;
  transition: background-color .2s;
  border-radius: 0.1rem;
}

.open-modal-btn:hover {
  background-color: var(--secondary-font-color);
}

@media (min-width: 640px) {
  .heading h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .form {
    max-width: 30rem;
    height: min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--rounded);
    width: 100%;
    padding: 4rem 2rem;
    box-shadow: 0 0 0.5rem 0.1rem var(--primary-color);
  }
}
