.main {
  padding: 1rem;
}

.header {
  position: relative;
  display: block;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.header img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.body {
  position: absolute;
  bottom: 10%;
  left: 1rem;
  z-index: 1;
}

.body h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*width: 100%;*/
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.8rem;
}

.details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  background-color: transparent;
  border: none;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
   border: none;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: transform 0.25s;
 }

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 548px) {
  .body h2 {
    font-size: 3rem;
  }
}
