.song {
  border: none;
  border-radius: var(--rounded);
  background-color: var(--background-secondary-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 4rem 1fr;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title h3 {
  font-size: 1.5rem;
}

.title p {
  color: var(--secondary-font-color);
}

.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2.5rem;
  transition: transform 0.25s;
}

.like-btn:hover {
  transform: scale(1.1);
}

.show-more-btn {
  border: none;
  width: 100%;
  border-radius: var(--rounded);
  background-color: var(--background-secondary-color);
  color: var(--font-color);
  font-size: 1.5rem;
  padding: 1.5rem 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  border-radius: var(--rounded);
}

.wrapper {
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
}

.details {
  display: none;
}

@media screen and (min-width: 1000px) {
  .show-more-btn {
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .standard {
    max-width: 50rem;
    width: 100%;
  }

  .show-more-btn {
    max-width: 50rem;
  }

  .details {
    display: flex;
    align-items: center;
    min-width: max-content;
  }

  .wrapper {
    grid-template-columns: 1fr 0.5fr 3rem;
  }
}

@media (min-width: 1920px) {
  .standard {
    max-width: 100%;
  }

  .show-more-btn {
    max-width: 100%;
  }
}
