.song {
  border: none;
  border-radius: var(--rounded);
  background-color: var(--background-secondary-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 4rem 1fr;
  opacity: 0.85;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title h3 {
  font-size: 1rem;
}

.title p {
  color: var(--secondary-font-color);
  font-size: 0.8rem;
}

.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2.5rem;
  transition: transform 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-btn:hover {
  transform: scale(1.1);
}

.show-more-btn {
  border: none;
  width: 100%;
  border-radius: var(--rounded);
  background-color: var(--background-secondary-color);
  color: var(--font-color);
  font-size: 1.5rem;
  padding: 1.5rem 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-menu-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.icon {
  border-radius: var(--rounded);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5rem 1.5rem 1rem;
  gap: 1rem;
}

.wrapper-with-details {
  display: grid;
  grid-template-columns: 1fr 1.5rem 1.5rem 1rem;
  gap: 1rem;
}

.details {
  display: none;
}

.play-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.25s;
}

.play-btn:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

@media (min-width: 640px) {
  .wrapper-with-details {
    grid-template-columns: 1fr 3rem 3rem 2rem;
  }

  .wrapper {
    grid-template-columns: 1fr 3rem 3rem 2rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .title p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .show-more-btn {
    padding: 1.5rem;
  }

  .details {
    display: flex;
    align-items: center;
    min-width: max-content;
  }

  .wrapper-with-details {
    grid-template-columns: 1fr 7rem 3rem 3rem 2rem;
    gap: 1rem;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .standard {
    max-width: 50rem;
    width: 100%;
  }

  .show-more-btn {
    max-width: 50rem;
  }

  .wrapper {
    grid-template-columns: 1fr 3rem 3rem 2rem;
    gap: 1rem;
    width: 100%;
  }

  .wrapper-with-details .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-content: center;
  }

  .wrapper-with-details {
    grid-template-columns: 1fr 0.3fr 3rem 3rem 2rem;
  }
}

@media (min-width: 1920px) {
  .wide {
    max-width: 100%;
  }

  .show-more-btn {
    max-width: 100%;
  }
}
