.container {
  position: relative;
}

.song {
  border: none;
  border-radius: var(--rounded);
  background-color: var(--background-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 4rem 1fr;
  opacity: 0.85;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title h3 {
  font-size: 1rem;
}

.title p {
  color: var(--secondary-font-color);
  font-size: 0.8rem;
}

.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2.5rem;
  transition: transform 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-btn:hover {
  transform: scale(1.1);
}

.context-menu-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.icon {
  border-radius: var(--rounded);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5rem 1.5rem 1rem;
  gap: 1rem;
}

.wrapper-with-details {
  display: grid;
  grid-template-columns: 1fr 1.5rem 1.5rem 1rem;
  gap: 1rem;
}

.details {
  display: none;
}

.play-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.25s;
}

.play-btn:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.popup-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 10;
  top: 1rem;
  right: 2rem;
  background-color: #282929;
  box-shadow: 0 0 1rem #282929;
  border-radius: var(--rounded);
  min-width: 10rem;
}

.popup-menu-btn {
  border: none;
  background-color: transparent;
  color: var(--font-color);
  padding: 0.25rem 1rem;
  transition: background-color 0.2s;
  cursor: pointer;
  border-radius: 0.1rem;
  font-size: 0.9rem;
  text-align: left;
}

.popup-menu-btn:hover {
  background-color: var(--secondary-font-color);
}

.popup-menu-playlist-container {
  position: relative;
}

.popup-menu-list {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  background-color: #282929;
  padding: 1rem 0.1rem;
  box-shadow: 0 0 1rem #282929;
  border-radius: var(--rounded);
}

.popup-menu-list li button {
  min-width: 10rem;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: background-color 0.2s;
  width: 100%;
  text-align: left;
}

.popup-menu-list li button:hover {
  background-color: var(--secondary-font-color);
}

.popup-menu-playlist-container:hover .popup-menu-list {
  display: block;
}

.popup-menu-playlist {
  display: grid;
  grid-template-columns: 1fr 1rem;
  align-content: center;
  color: var(--font-color);
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
}

.arrow-right {
  height: 0.9rem;
}

@media (min-width: 640px) {
  .wrapper-with-details {
    grid-template-columns: 1fr 3rem 3rem 2rem;
  }

  .wrapper {
    grid-template-columns: 1fr 3rem 3rem 2rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .title p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .show-more-btn {
    padding: 1.5rem;
  }

  .details {
    display: flex;
    align-items: center;
    min-width: max-content;
  }

  .wrapper-with-details {
    grid-template-columns: 1fr 7rem 3rem 3rem 2rem;
    gap: 1rem;
    width: 100%;
  }

  .popup-menu {
    right: 4rem;
  }

  .popup-menu-list {
    transform: translate(-100%, -50%);
  }
}

@media (min-width: 1280px) {
  .standard {
    width: 100%;
  }

  .show-more-btn {
    max-width: 50rem;
  }

  .wrapper {
    grid-template-columns: 1fr 3rem 3rem 2rem;
    gap: 1rem;
    width: 100%;
  }

  .wrapper-with-details .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-content: center;
  }

  .wrapper-with-details .title p {
    color: var(--font-color);
    font-size: 1.2rem;
  }

  .wrapper-with-details .title h3 {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
  }

  .wrapper-with-details {
    grid-template-columns: 1fr 0.3fr 3rem 3rem 2rem;
  }

  .time {
    font-size: 1.2rem;
  }
}

@media (min-width: 1920px) {
  .wide {
    max-width: 100%;
  }

  .show-more-btn {
    max-width: 100%;
  }
}
